/* :root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
} */

body {
  font-family: roboto;
  background-color: #0b192f;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 1em 2em;
  background-color: #024161;
}

.logo a {
  color: #fff;
  font-size: 2em;
  font-weight: 300;
  padding: 1rem;
}

.logo span{
  color: mediumvioletred;
  font-weight: 200;
}

.navigation-bar {
  display: flex;
}

.navigation-bar__button {
  color: #fff;
  font-size: 2em;
  cursor: pointer;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.menu__item>a {
  padding: 2em;
  color: #fff;
}

.menu__item:hover>a {
  background-color: #1f52a4;
}

.home {
  height: 400px;
  color: #fff;
  background: url("../img/post0.jpg") no-repeat center;
  background-size: cover;
  margin: 1rem 0;
  display: flex;
  align-items: flex-end;
}

.home__header>h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
  margin: 3rem;
  margin-bottom: 1.5rem;
}

.home__header>p {
  max-width: 850px;
  margin: 3rem;
  margin-top: 1.5rem;
  opacity: 0.6;
}

.blog {
  color: #fff;
}

.post {
  display: flex;
  flex-direction: column;
}

.post__image:hover, .post__content>h2:hover {
  cursor: pointer;
  opacity: 0.6;
}

.post__image {
  align-self: center;
}

.post__content>time {
  float: right;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3em;
  font-weight: 300;
  opacity: 0.2;
  margin: 1rem;
}

.post__content>time>span {
  font-size: 0.5em;
}

.post__content>h2 {
  font-size: 3em;
  font-weight: 200;
  line-height: 1;
  margin: 2rem 3rem 1rem;
}

.post__content>p {
  margin: 1rem 3rem 2rem;
  opacity: 0.6;
}

.post__content_without-illustration {
  display: flex;
  flex-direction: column;
}

.post__content_without-illustration>time {
  order: 3;
}

.news {
  background-color: #fff;
  margin: 1rem 0;
}

.news__article {
  display: flex;
  flex-direction: column;
}

.news__article h3 {
  font-size: 2em;
  font-weight: 300;
  line-height: 1;
  margin: 1.5rem 3rem 0.5rem;
}

.news__article p {
  margin: 0.5rem 3rem 2rem;
  color: #024161;
}

.page-footer {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: #024161;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  clear: both;
}

.page-footer>p {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .top-bar {
    flex-direction: column-reverse;
  }
  
  .navigation-bar__button {
    margin-bottom: 2rem;
  }
  
  .menu {
    display: none;
  }
}

@media screen and (min-width: 481px) {
  .blog {
    width: 60%;
    float: left;
    margin-bottom: 1rem;
  }
  
  .news {
    width: 38%;
    float: right;
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) {
  body {
    max-width: 1400px;
    margin: auto;
  }

  .navigation-bar__button {
    display: none;
  }

  .blog {
    width: 75%;
  }
  
  .news {
    width: 24%;
  }

  .post {
    flex-direction: row;
  }

  .post:nth-child(even) {
    flex-direction: row-reverse;
  }

  .post:nth-child(even)>.post__content {
    text-align: end;
  }

  .post:nth-child(even)>.post__content>time {
    float: left;
  }
  
  .post__image {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .post__image>img {
    max-height: 350px;
    width: 100%;
  }
  
  .post__content {
    width: 50%;
  }  
  
  .post__content_without-illustration {
    display: block;
    width: 100%;
  }

  .page-footer {
    display: flex;
    justify-content: space-between;
  }

  .page-footer p {
    text-align: left;
  }
}