$header-background: url("../img/m-h-night.jpg");
$bg-color: #21232F;
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Fresca', sans-serif;
$section-txt-font: $primary-font;
$colors: (
    first-color: #DB9F09,
    second-color: #953050,
    header-txt-color: #FFF,
    content-bg-color: #3C3F50,
    content-txt-color: #D3D4DA
);