$header-background: url("../img/m-h-day.jpg");
$bg-color: #FFF;
$primary-font: 'Source Sans Pro', sans-serif;
$secondary-font: 'Hind', sans-serif;
$section-txt-font: $secondary-font;
$colors: (
    first-color: #689902,
    second-color: #2E5DCF,
    content-bg-color: #21232F,
    header-txt-color: #000,
    content-txt-color: #B1B4C3
);